
#logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.name {
    text-align: right;
    font-size: 60px;
}

.BMLogo {
    max-width: 90px;
    max-height: 90px;
    width: auto;
    height: auto;
}

