#all-projects-cont {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    justify-content: center;
    padding-top: 7em;
    width: 90vw;
    font-family: 'Helvetica', sans-serif;
}

#all-projects-cont .showcase-projects {
    align-items: center;

}


.showcase-projects {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3vw;
}


#projects-cont {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    justify-content: center;
    width: 90vw;
    font-family: 'Helvetica', sans-serif;
}

#projects-cont .showcase {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3vw;
}


.showcase {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3vw;
}



.BTP h1, .HHMDP h1, .MVP h1 {
    text-align: left;
    font-size: 5vh;
    margin: 2vh 0 1vh;
}



.HHMDP p, .MVP p {
    margin: .5vh auto .5vh;
}

.HHMDP img, .MVP img {
    width: 35vw;
    height: auto;
    border-radius: 10px;
}

.BTP {
    display: flex;
    flex-direction: row;
    margin-left: 10vw;
    margin-right: 10vw;
}

.BTP video {
    width: 19vw;
    height: auto;
    border-radius: 10px;
}

.BTP .description {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-left: 3vw;
    width: 100%;
}

.BTP p {
    text-align: left;
}

.projects-cont {
    width: 90vw;
    height: auto;

}

.demo-cont {
    border: 2px solid white;
    border-radius: 20px;
    padding: 3em;
}


.project-block {
    margin: 1em 0 1em;
    width: 100%;
    border-bottom: 2px solid white;
}

.github-button {
    background-color: black;
    color: white;
    padding: 12px 1px 10px 3px;
    border: 3px solid #ddd;
    border-radius: 10px;
    margin: 2vh 0 1vh;
    cursor: pointer;
    width: 5vw;
    letter-spacing: 3px;
    font-size:1rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-decoration: none;
}

.projects-header {
    font-size: 3rem;
    letter-spacing: -1px;
    margin-bottom: 1vh;
}

.desc-title {
    display: flex;
    flex-direction: row;
    gap: 1vw;
    width: 100%;
}

.desc-title-phone {
    display: flex;
    flex-direction: row;
    gap: 1vw;
    width: 100%;
}