.resume-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}

.resume-container-text h2 {
    text-align: center;
    font-size: larger;
}

.resume-image-container {
    display: flex;
    align-self: center;
    justify-content: center;
}

.resume-download-button {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-self: center;
    justify-content: center; /* Centering the button */
}

.resume-image {
    width: 50%;

}

.pointer {
    align-self: flex-end;
}