.resume-header {
    font-size: 3rem;
    letter-spacing: .5vw;
    margin-bottom: 1vh;
}

.resume-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}

.resume-image-container {
    display: flex;
    align-self: center;
    justify-content: center;
    margin-bottom: 0px;
}

.resume-image {
    width: 50vw;
    margin-bottom: 0px;
}


.resume-end-text {
    display: flex;
    flex-direction: column;
    width: 50vw;
    align-items: center;
}

.resume-ty {
    font-size: 1.7rem;
    width: 30vw;
    text-align: center;
    margin-bottom: 5vh;
    margin-top: 0px;
}

.download-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.download-img {
    width: 30px;
    height: auto;
    padding: 0px;
}

.resume-download {
    font-weight: 500;
    margin-top: 2px;
    font-size: 1.5rem;
    text-align: center;

}

.download-button h2:visited {
    color: greenyellow;
}